doctype html
head
    title #{title}
    meta(charset="UTF-8")
    link(rel="stylesheet",href="./public/assets/bootstrap/dist/css/bootstrap.css")
body
           
    script(src="./public/assets/jquery.js")
    script(src="./public/assets/bootstrap/dist/js/bootstrap.js")